*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    background-color: white;
    max-width: 600px;
    margin-top: 50px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 3px rgba(1, 1, 0 , 0.2);
    border-radius: 10px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, ifr));
    gap: 10px;
    
} 
.title_small{
    font-size: 20px;
}
.form_control{
   display: flex; 
   flex-direction:column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input,
select,
textarea{
    padding: 6px 10px;
    border-radius:4px;
    font-size: 15px;
    border: 1px solid #ccc;

}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
 

button{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    border: transparent;
}
input:focus{
    outline-color: red ;
}
@media(max-width: 460px){
    .texteditor{
        grid-column: 1/span 1;
    }
}
